<app-navbar></app-navbar>
<app-hero></app-hero>
<app-principal></app-principal>

<div class="container colorFondo">
  <h1 class="h1 h1Bgr">Hola</h1>
  <h2 class="h2 h1Bgr">{{name}}</h2>
  <h2 class="h2 h1Bgr">{{lastname}}</h2>
  <h2 class="h2 h1Bgr">{{edad}}</h2>
  <h2 class="h2 h1Bgr">{{edadL}}</h2>
  <h2 class="h2 h1Bgr">{{edad + edadL}}</h2>
  <h2 class="h2 h1Bgr">{{estatura}}</h2>
  <h2 class="h2 h1Bgr">{{mayorEdad}}</h2>
  <h2 class="h2 h1Bgr">{{casado}}</h2>
  <!-- <h2 class="h2 h1Bgr">array: {{frutas}}</h2>
  <h2 class="h2 h1Bgr">array notas: {{notas}}</h2>
  <h2 class="h2 h1Bgr">Objeto: {{fruta}}</h2>
  <h2 class="h2 h1Bgr">Objeto: {{fruta.nombre}}</h2>
  <h2 class="h2 h1Bgr">Objeto: {{fruta.color}}</h2>
  <h2 class="h2 h1Bgr">Objeto: {{fruta.sabor}}</h2>
  <h2 class="h2 h1Bgr"> Alumno: {{alumno.nombre}}</h2>
  <h2 class="h2 h1Bgr"> Alumno: {{alumno.apellido}}</h2>
  <h2 class="h2 h1Bgr"> Alumno: {{alumno.edad}}</h2>
  <h2 class="h2 h1Bgr"> Alumno: {{alumno.notas}}</h2> -->

  <button class="btn btn-primary m-5" (click)="SumaEdad()">Suma Edad</button>
  <button class="btn btn-primary m-5" (click)="masUno()">Suma EdadL</button>
  <button class="btn btn-primary m-5" (click)="cambiaNombre()">Cambianombre</button>


  <!-- <p class="h1Bgr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat enim autem voluptas aperiam omnis accusantium atque
    sequi labore, neque qui. Veritatis laborum dolorum a soluta dolor beatae suscipit pariatur repellendus.</p>
  <p class="h1Bgr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet explicabo consequuntur itaque veritatis ad sed
    molestiae quae perspiciatis eligendi saepe delectus voluptates laborum, commodi officia dolor aut, ab similique
    eaque?</p> -->
</div>

<app-footer></app-footer>


